
.icon-facebook:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-clock-1:before { content: '\e802'; } /* '' */
.icon-location:before { content: '\e803'; } /* '' */
.icon-back-in-time:before { content: '\e804'; } /* '' */
.icon-check:before { content: '\e805'; } /* '' */
.icon-phone-outline:before { content: '\e806'; } /* '' */
.icon-wallet:before { content: '\e807'; } /* '' */
.icon-clock:before { content: '\e808'; } /* '' */
.icon-cancel-circled:before { content: '\e809'; } /* '' */
.icon-search:before { content: '\e80a'; } /* '' */
.icon-briefcase:before { content: '\e80b'; } /* '' */
.icon-paper-plane:before { content: '\e80c'; } /* '' */
.icon-users-outline:before { content: '\e80d'; } /* '' */
.icon-heart-filled:before { content: '\e80e'; } /* '' */
.icon-heart:before { content: '\e80f'; } /* '' */
.icon-star:before { content: '\e810'; } /* '' */
.icon-plus-outline:before { content: '\e811'; } /* '' */
.icon-plus:before { content: '\e812'; } /* '' */
.icon-award:before { content: '\e813'; } /* '' */
.icon-briefcase-1:before { content: '\e814'; } /* '' */
.icon-info-outline:before { content: '\e815'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-telegram:before { content: '\f2c6'; } /* '' */