.we-are{
  background: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  .we-are-content{
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .top{
      text-align: center;
      h2{
        margin-bottom: 5px;
        color: rgba(71, 77, 80, 1);
      }
      p{
        margin-top: 0;
        color: rgba(172, 178, 181, 1);
      }
    }
    .center{
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 90%;
      .info-box{
        background: rgba(248, 169, 17, 1);
        width: 29%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 15px;
        color: white;
        .icon{
          margin-top: 15px;

          i{
            font-size: 5em;
          }
        }
        h4{
          font-weight: 100;
        }
        &:nth-child(1){
          .icon{
            //animation: rotate 3s 1;
          }
          &:hover{
            .icon{
              animation: rotate 3s infinite;
            }
          }
        }
        &:nth-child(2){
          background: rgba(246, 73, 143, 1);
          .icon{
            //animation: pulsing 2s 2;
          }
          &:hover{
            .icon{
              animation: pulsing 2s infinite;
            }
          }
        }
        &:nth-child(3){
          background: rgba(129, 88, 227, 1);
          .icon{
            //-webkit-animation: shake .5s 4;
            //-o-animation: shake .5s 4;
            //animation: shake .5s 4;
          }
          &:hover{
            .icon{
              animation: shake .5s infinite;
            }
          }
        }
      }
    }

    .bottom{
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;

      .text{
        h3{
          margin-bottom: 10px;
          color: rgba(71, 77, 80, 1);
        }
        p{
          //margin-top: 0;
          line-height: 2;
          color: rgba(172, 178, 181, 1);
        }
      }
      .btn{
        height: 45px;
        width: 145px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(62, 203, 183, 1);
        border-radius: 45px;
        transition: .25s;
        cursor: pointer;
        box-shadow: 0 10px 18px 0 rgba(0, 0, 0, .2);
        color: white;
        margin-bottom: 15px;
        text-transform: uppercase;
        &:hover{
          background: #57d8c6;
          transform: scale(1.1);
          box-shadow: 0 0 18px 1px rgba(0, 0, 0, .3);
        }
      }
    }
  }
}


@keyframes pulsing {
  10% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
    color:white;
  }
  50% {
    -webkit-transform: scale(1.5, 1.5);
    transform: scale(1.5, 1.5);
    color:lawngreen;
  }
  90% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
    //color:green;
  }
}

@keyframes rotate {
  10% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    //color:white;
  }
  50% {
    -webkit-transform:rotate(-90deg);
    transform: rotate(-90deg);
    //color:lawngreen;
  }
  90% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    //color:green;
  }
}

@keyframes shake {
  0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
  10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
  20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
  30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
  40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
  50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
  60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
  70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
  80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
  90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
  100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}